@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	nav {

		.mr-1{
			margin-right: 1rem;
		}
		.nav-mobil{
			background-color: #d32e31;
			display: flex;
			justify-content: space-between !important;
			align-items: center;
		}

		&#nav-ecommerce{

			height: auto;
			border-bottom: 2px solid #d32e31;
			padding-bottom: 5px;
			background-color: #d32e31;

			
			.brand-div{
				ul{
					flex-direction: row;
					list-style: none;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0px 0 0px 0;
					li{
						.logo{ 
							width: 400px;
						}
						a{
							color: white;
							// font-weight: 600;
							text-decoration-color:#d32e31 !important;
							text-decoration: none !important;
							font-size: 13px;
							font-weight: 500;
							&:hover{
								// text-decoration: none !important;

								color: white;
								font-weight: 600;
								// border-bottom: 2px solid #d32e31;
							}
						}
						i{
							color: white;
							font-size: 20px;
							padding-right: 5px;
						}
					}
				}
			}
			.a-contact{
				font-weight: 700 !important;
			}
		}
		&#nav-ecommerce-mobile{
			border-bottom: 2px solid #d32e31;
			padding-bottom: 5px;

			#first-ul{
				margin: 0;
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 0 0 0;
				li{
					a{
						.logo-mobil{
							width: 92px;
						}
					}

				}
			}

			.top-red{
				background-color: #d32e31;
				// height: 30px;
				.social{
					padding: 0px;
					list-style: none;
					display: inline-flex;
					margin: 0px;
					li{
						padding: 1px 5px;
						text-align: center;
						width: 30px;
						&:first-child{
							border-right: 1px solid white;
							border-left: 2px solid white;
						}
						&:last-child{
							border-right: 2px solid white;
							border-left: 1px solid white;
						}
						a{
							i{
								color: white;
							}
						}
					}
				}

				.actions{
					display: inline-flex;
					list-style: none;
					padding: 0px;
					margin: 0px;
					li{
						padding: 1px 5px;
						text-align: center;
						color: white;
						a{
							color: white;
							
						}
					}

				}
			}
		}
		#menu{
			display: none;
		}
		
	}
}
@media #{$phone} {
	nav {
		.logo{
			max-width: 45%;
		}
		#menu {
			clear: both;
			display: none;
			background-color: #d32e31;

			ul {
				@include clean;
				list-style: none;
	
				li {
					@include clean;
					float: none;
	
					a {
						@include clean;
						color: white;
						display: block;
						// font-family: $font-family-title;
						font-size: 1em;
						line-height: 30px;
						padding: 5px;
						text-align: center;
						text-transform: uppercase;
						text-decoration: none !important;
						&:active,
						&:focus,
						&:hover {
							color: white;
							font-weight: bold;
							text-shadow: 0px 0px 1px white;
						}
					}
				}
			}
		}
	}
}