@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@font-face {
    font-family: 'gotham';
    src: url("../webfonts/fonts/gotham-medium-webfont.woff2") format( 'truetype' );
    font-weight: 500;
	font-style: 500;
}
@font-face {
    font-family: 'pixelated';
    src: url("../webfonts/fonts/pixelated.woff2") format( 'truetype' );
    font-weight: 500;
	font-style: 500;
}
@font-face {
    font-family: 'avenir';
    src: url("../webfonts/fonts/AvenirLTStd-Roman.otf") format( 'truetype' );
    font-weight: 500;
	font-style: 500;
}

@font-face {
    font-family: 'avenir';
    src: url("../webfonts/fonts/AvenirLTStd-Book.otf") format( 'truetype' );
    font-weight: 300;
	font-style: 300;
}
@font-face {
    font-family: 'avenir';
    src: url("../webfonts/fonts/AvenirLTStd-Black.otf") format( 'truetype' );
    font-weight: 700;
	font-style: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');
// @font-face {
//     font-family: 'Pixelated';
//     src: url('../webfonts/fonts/pixelated.ttf') format('truetype');
//     font-weight: 500;
// 	font-style: 500;
//   }